In [3]:
import chardet
import pandas as pd
with open('dataset/GJG_DNG_CD_MAPPING.csv', 'rb') as file:
    result = chardet.detect(file.read())
    encoding = result['encoding']

df = pd.read_csv('dataset/GJG_DNG_CD_MAPPING.csv', encoding=encoding)
df.head()

   H_SDNG_CD  H_DNG_CD DO_NM CT_NM H_DNG_NM
0    1105053  11215710    서울   광진구      화양동
1    1105054  11215730    서울   광진구      군자동
2    1105055  11215740    서울   광진구     중곡1동
3    1105056  11215750    서울   광진구     중곡2동
4    1105057  11215760    서울   광진구     중곡3동

In [4]:
df.to_csv('dataset/GJG_DNG_CD_MAPPING.csv', encoding = 'utf-8-sig', index = False)