# 1월 카드매출 샘플 데이터
1) 행정동간 비교
- 행정동간 (vertical) 전체 카드매출 min-max scaling
- 1등급(0.75~1), 2등급 (0.5~0.75), 3등급 (0.25~0.5), 4등급(0~0.25) 값으로 변환 

2) 행정동 내 연령대별 비교
- min-max scaling으로 연령대간 (horizontal) 카드매출 0~1 스케일링
- 1등급(0.75~1), 2등급 (0.5~0.75), 3등급 (0.25~0.5), 4등급(0~0.25) 값으로 변환 

3) 기타 인구특성(국적, 관내외))

1. 행정동 간
    - total 카드매출 순위
    - 예상결과: 1위 화양동, 2위 oo동, ...

    - 평일(WD) & 주말 (HD) 카드매출 순위
    - 예상결과: 평일 카드매출 - 1위 자양동, 2위 화양동 ...
              주말 카드매출 - 1위 화양동, 2위 구의동 ...

2. 행정동 내
    - GID 별 total 카드매출 순위
    - 예상결과: (화양동)1위 다사435, 2위 다사xxx => 지도상 시각화
  
    - 연령대별 카드매출 순위
    - 예상결과: (화양동) 1위 20대, 2위 30대 ...

시간
- 평일 카드매출
- 주말 카드매출

인구집단 특성
- 연령대
- 소재지

In [30]:
import chardet
import pandas as pd
with open('dataset/CD_SALES_SAMPLE_JAN_new.csv', 'rb') as file:
    result = chardet.detect(file.read())
    encoding = result['encoding']

df = pd.read_csv('dataset/CD_SALES_SAMPLE_JAN_new.csv', encoding=encoding)
df.head()

     DATE       GID CUSTOMER_CLASS  ...    HD_A50    HD_A60  HD_TOTAL
0  202301  다사633494            내국인  ...  111.1483   70.8795  393.9217
1  202301  다사633494            내국인  ...  107.0546  139.2939  507.1369
2  202301  다사633494            외국인  ...  139.0686  102.5485  688.9572
3  202301  다사633494             법인  ...  116.4985   98.6191  399.6933
4  202301  다사626517            내국인  ...  125.5592   15.0025  438.4425

[5 rows x 25 columns]

In [58]:
df['DATE'].unique()  # [202301]
len(gid_list.tolist())

1812

In [55]:
gid_list = df['GID'].unique() # length: 1812
df[df['GID']==gid_list[0]]

          DATE       GID CUSTOMER_CLASS  ...    HD_A50    HD_A60  HD_TOTAL
0       202301  다사633494            내국인  ...  111.1483   70.8795  393.9217
1       202301  다사633494            내국인  ...  107.0546  139.2939  507.1369
2       202301  다사633494            외국인  ...  139.0686  102.5485  688.9572
3       202301  다사633494             법인  ...  116.4985   98.6191  399.6933
7248    202301  다사633494            내국인  ...   80.0343  116.7284  439.7774
...        ...       ...            ...  ...       ...       ...       ...
210195  202301  다사633494             법인  ...    0.6013  141.8282  542.5782
217440  202301  다사633494            내국인  ...   97.3344  146.4313  606.0550
217441  202301  다사633494            내국인  ...   16.6872   10.7756  314.2431
217442  202301  다사633494            외국인  ...   90.6666   70.8785  490.9733
217443  202301  다사633494             법인  ...   46.1192  102.4665  435.2026

[124 rows x 25 columns]

# IDEATION
- 제공 데이터: 카드매출, 유동인구

1. 각 인구집단별 수요에 맞춰 행정동별 인프라 만족 지수를 측정하고, 맞춤 상권 및 시설 제안
   - 문제상황: 생활반경 내 인프라에 대한 불만족 (증명해야함)
   - 수집 데이터: 행정동별 인구집단의 생활 만족도
   - 행정적 배경: 광진구 상권 재정비

2. 시간대별 주 유동인구 집단 특성을 반영하여 상업시설의 공실 시간대 컨텐츠 제안 (상업시설이 몰려있는 특정 행정구역으로 특정 가능)
   - 문제상황: 활용되지 못하고 공실로 낭비되는 시설 많음 (증명해야함)
   - 수집 데이터: 상업시설 별 공실 시간, 인구집단별 needs

3. 폐업위기 업체 예측 및 맞춤 지원프로그램 추천 서비스 제안

4. 복지 사각지대 취약 계층 발굴을 위한 OO 지표 개발

# 카드매출 샘플 데이터_12개월 full_등급

In [64]:
import chardet
import pandas as pd
with open('dataset/CD_SALES_SAMPLE_JAN_new.csv', 'rb') as file:
    result = chardet.detect(file.read())
    encoding = result['encoding']

df = pd.read_csv('dataset/CD_SALES_SAMPLE.csv', encoding=encoding)
df.head()

   Unnamed: 0    DATE       GID  ...    HD_A50    HD_A60  HD_TOTAL
0           0  202301  다사633494  ...  128.1334   32.8228  425.8633
1           1  202301  다사633494  ...   11.6603  140.4262  439.7057
2           2  202301  다사633494  ...  139.8649   17.9982  390.9489
3           3  202301  다사633494  ...   65.7368   43.4129  335.2346
4           4  202301  다사626517  ...   39.9600   90.8793  403.0658

[5 rows x 26 columns]

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86976 entries, 0 to 86975
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      86976 non-null  int64
 1   DATE            86976 non-null  int64
 2   GID             86976 non-null  object
 3   CUSTOMER_CLASS  86976 non-null  object
 4   CUSTOMER_ADDR   86976 non-null  object
 5   A10             86976 non-null  float64
 6   A20             86976 non-null  float64
 7   A30             86976 non-null  float64
 8   A40             86976 non-null  float64
 9   A50             86976 non-null  float64
 10  A60             86976 non-null  float64
 11  TOTAL           86976 non-null  float64
 12  WD_A10          86976 non-null  float64
 13  WD_A20          86976 non-null  float64
 14  WD_A30          86976 non-null  float64
 15  WD_A40          86976 non-null  float64
 16  WD_A50          86976 non-null  float64
 17  WD_A60          86976 non-null  float64
 18  WD_TOTAL        86976 non-null  float64
 19  HD_A10          86976 non-null  float64
 20  HD_A20          86976 non-null  float64
 21  HD_A30          86976 non-null  float64
 22  HD_A40          86976 non-null  float64
 23  HD_A50          86976 non-null  float64
 24  HD_A60          86976 non-null  float64
 25  HD_TOTAL        86976 non-null  float64
dtypes: float64(21), int64(2), object(3)
memory usage: 17.3+ MB

In [66]:
df['GID'].unique()

array(['다사633494', '다사626517', '다사640506', ..., '다사624501', '다사613479',
       '다사630474'], dtype=object)

In [67]:
df['DATE'].unique()

array([202301, 202302, 202303, 202304, 202305, 202306, 202307, 202308,
       202309, 202310, 202311, 202312])

In [76]:
# df 이름 설정 - 동적 이름 생성이 안됨 :(
months = ['jan', 'feb', 'mar', 'apr', 'may', 'june', 'july', 'aug', 'sep', 'oct', 'nov', 'dec']
df_names = []
for month in months:
    df_names.append(f'df_{month}')
i = 202301
for df_name in df_name:
    df_name = df[df['DATE']==i]
    i+=1

In [81]:
# 월별 df
df_jan = df[df['DATE']==202301]
df_feb = df[df['DATE']==202302]
df_mar = df[df['DATE']==202303]
df_apr = df[df['DATE']==202304]
df_may = df[df['DATE']==202305]
df_jun = df[df['DATE']==202306]
df_jul = df[df['DATE']==202307]
df_aug = df[df['DATE']==202308]
df_sep = df[df['DATE']==202309]
df_oct = df[df['DATE']==202310]
df_nov = df[df['DATE']==202311]
df_dec = df[df['DATE']==202312]

## 단위 test_1월

In [87]:
# 첫 번째 컬럼 삭제
df_jan.drop(columns=df_jan.columns[0], inplace=True)
df_jan.head()

/var/folders/ym/c6nn5rhx7sz6q6mw_m3tykqw0000gn/T/ipykernel_1493/2915946495.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_jan.drop(columns=df_jan.columns[0], inplace=True)

     DATE       GID CUSTOMER_CLASS  ...    HD_A50    HD_A60  HD_TOTAL
0  202301  다사633494            내국인  ...  128.1334   32.8228  425.8633
1  202301  다사633494            내국인  ...   11.6603  140.4262  439.7057
2  202301  다사633494            외국인  ...  139.8649   17.9982  390.9489
3  202301  다사633494             법인  ...   65.7368   43.4129  335.2346
4  202301  다사626517            내국인  ...   39.9600   90.8793  403.0658

[5 rows x 25 columns]

In [88]:
gid_list = df_jan['GID'].unique()

In [90]:
df_temp = df_jan[df_jan['GID']==gid_list[0]]
df_temp

     DATE       GID CUSTOMER_CLASS  ...    HD_A50    HD_A60  HD_TOTAL
0  202301  다사633494            내국인  ...  128.1334   32.8228  425.8633
1  202301  다사633494            내국인  ...   11.6603  140.4262  439.7057
2  202301  다사633494            외국인  ...  139.8649   17.9982  390.9489
3  202301  다사633494             법인  ...   65.7368   43.4129  335.2346

[4 rows x 25 columns]

## 저장할 dataframe 생성

In [140]:
# columns = ['A10_관내', 'A10_관외', 'A20_관내', 'A20_관외', 'A30_관내', 'A30_관외', 'A40_관내', 'A40_관외'
#                , 'A50_관내', 'A50_관외', 'A60_관내', 'A60_관외', '외국인_A10', '외국인_A20', '외국인_A30', '외국인_A40'
#               , '외국인_A50', '외국인_A60', '법인']

ages = ['A10', 'A20', 'A30', 'A40', 'A50', 'A60']
cust_class = ['내국인', '외국인', '법인']
cust_add = ['관내', '관외']
days = ['T', 'WD', 'HD'] # W: 평일, H: 주말

gid = gid_list[0]
new_df_jan = pd.DataFrame()
for d in days:
    # whole week일 때 
    if d == 'T':
        for c in cust_class:
            # 내국인일 때 -> 관내, 관외 
            if c=='내국인':
                for age in ages:
                    for add in cust_add:
                        if add == '관내':
                            new_df_jan.at[gid, age+'_'+add+'_'+d] = df_temp[age][df_temp['CUSTOMER_ADDR']=='관내'].iloc[0]
                        if add == '관외':
                            new_df_jan.at[gid, age+'_'+add+'_'+d] = df_temp[age][df_temp['CUSTOMER_ADDR']=='관외'].iloc[0]
            # 외국인, 법인일 때:       
            else:
                for age in ages:
                    new_df_jan.at[gid, c+'_'+age] = df_temp[age][df_temp['CUSTOMER_CLASS']==c].iloc[0]

    # 주말, 주중
    else:
        for c in cust_class:
            # 내국인일 때 -> 관내, 관외 
            if c=='내국인':
                for age in ages:
                    for add in cust_add:
                        if add == '관내':
                            new_df_jan.at[gid, age+'_'+add+'_'+d] = df_temp[d+'_'+age][df_temp['CUSTOMER_ADDR']=='관내'].iloc[0]
                        if add == '관외':
                            new_df_jan.at[gid, age+'_'+add+'_'+d] = df_temp[d+'_'+age][df_temp['CUSTOMER_ADDR']=='관외'].iloc[0]
            # 외국인, 법인일 때:       
            else:
                for age in ages:
                    new_df_jan.at[gid, c+'_'+age] = df_temp[d+'_'+age][df_temp['CUSTOMER_CLASS']==c].iloc[0]

In [141]:
new_df_jan

          A10_관내_T  A10_관외_T  A20_관내_T  ...  A50_관외_HD  A60_관내_HD  A60_관외_HD
다사633494   75.6125  146.0104   15.6752  ...    11.6603    32.8228   140.4262

[1 rows x 48 columns]

# 카드매출 데이터 전처리 (완료)

In [213]:
# gid와 monthly_df를 전달받아 새로운 데이터프레임을 반환하는 함수 
def rebuild_df(monthly_df, month):
    ages = ['A10', 'A20', 'A30', 'A40', 'A50', 'A60']
    cust_class = ['내국인', '외국인', '법인']
    cust_add = ['관내', '관외']
    days = ['T', 'WD', 'HD'] # T: whole week, W: 평일, H: 주말
    gid_list = monthly_df['GID'].unique()

    new_df = pd.DataFrame()
    for gid in gid_list:
        df_temp = monthly_df[monthly_df['GID']==gid]
    
        # CUSTOMER_CLASS, CUSTOMER_ADDRES를 기존 컬럼과 결합 
        for d in days:
            # whole week일 때 
            if d == 'T':
                for c in cust_class:
                    # 내국인일 때 -> 관내, 관외 
                    if c=='내국인':
                        for age in ages:
                            for add in cust_add:
                                if add == '관내':
                                    new_df.at[gid, age+'_'+add+'_'+d] = df_temp[age][df_temp['CUSTOMER_ADDR']=='관내'].iloc[0]
                                if add == '관외':
                                    new_df.at[gid, age+'_'+add+'_'+d] = df_temp[age][df_temp['CUSTOMER_ADDR']=='관외'].iloc[0]
                    # 외국인, 법인일 때:       
                    else:
                        for age in ages:
                            new_df.at[gid, c+'_'+age] = df_temp[age][df_temp['CUSTOMER_CLASS']==c].iloc[0]
        
            # 주말, 주중
            else:
                for c in cust_class:
                    # 내국인일 때 -> 관내, 관외 
                    if c=='내국인':
                        for age in ages:
                            for add in cust_add:
                                if add == '관내':
                                    new_df.at[gid, age+'_'+add+'_'+d] = df_temp[d+'_'+age][df_temp['CUSTOMER_ADDR']=='관내'].iloc[0]
                                if add == '관외':
                                    new_df.at[gid, age+'_'+add+'_'+d] = df_temp[d+'_'+age][df_temp['CUSTOMER_ADDR']=='관외'].iloc[0]
                    # 외국인, 법인일 때:       
                    else:
                        for age in ages:
                            new_df.at[gid, c+'_'+age] = df_temp[d+'_'+age][df_temp['CUSTOMER_CLASS']==c].iloc[0]

    # gid 컬럼추가, index 년월 값으로 변경
    new_df = new_df.reset_index()
    new_df.rename(columns={new_df.columns[0]:'GID'}, inplace=True)
    new_df.index = [month]*len(new_df)
    
    return new_df

In [209]:
columns_list = index_test.columns.to_list()

In [215]:
monthly_df_list = [df_jan, df_feb, df_mar, df_apr, df_may, df_jun, df_jul, df_aug, df_sep, df_oct, df_nov, df_dec]
date_list = ['202301', '202302', '202303', '202304', '202305', '202306', '202307', '202308', '202309', '202310', '202311', '202312']

new_df = pd.DataFrame(columns=columns_list)

for df, m in zip(monthly_df_list, date_list):
    new_df = pd.concat([new_df, rebuild_df(df, m)])

In [216]:
new_df

             GID  A10_관내_T  A10_관외_T  ...  A50_관외_HD  A60_관내_HD  A60_관외_HD
202301  다사633494   75.6125  146.0104  ...    11.6603    32.8228   140.4262
202301  다사626517   21.0800   72.2740  ...    71.3202    90.8793   142.4943
202301  다사640506  141.0926   45.4665  ...   128.0126    72.8106    89.9786
202301  다사642512  129.5895  134.8308  ...   138.4921    17.6695    23.3823
202301  다사647489  140.1573   75.0866  ...   117.7689   140.7101   128.4141
...          ...       ...       ...  ...        ...        ...        ...
202312  다사636487  132.1393   63.0479  ...   107.1278    42.4382    50.3303
202312  다사644526   69.7424    2.2074  ...    42.8206    96.3797    37.6654
202312  다사624501    1.2578   94.5074  ...    23.2790    43.8116   109.0981
202312  다사613479  121.7091  146.1817  ...    52.3892    52.3454    96.0166
202312  다사630474  120.3259   42.1673  ...    37.0440    38.8148   121.2983

[21744 rows x 49 columns]

In [217]:
new_df.to_csv('dataset/CD_SALES_processed.csv', index=True)
new_df.to_pickle('dataset/CD_SALES_processed.pkl')

In [196]:
#test code
final_test = rebuild_df(df_jan, '202301')
final_test

In [193]:
index_test = new_df_jan.reset_index()
index_test.rename(columns={index_test.columns[0]:'GID'}, inplace=True)
index_test.index = ['202301']*len(index_test)

In [194]:
index_test

             GID  A10_관내_T  A10_관외_T  ...  A50_관외_HD  A60_관내_HD  A60_관외_HD
202301  다사633494   75.6125  146.0104  ...    11.6603    32.8228   140.4262
202301  다사626517   21.0800   72.2740  ...    71.3202    90.8793   142.4943
202301  다사640506  141.0926   45.4665  ...   128.0126    72.8106    89.9786
202301  다사642512  129.5895  134.8308  ...   138.4921    17.6695    23.3823
202301  다사647489  140.1573   75.0866  ...   117.7689   140.7101   128.4141
...          ...       ...       ...  ...        ...        ...        ...
202301  다사636487   56.0388   70.2394  ...   102.3328    90.4519    39.4618
202301  다사644526  147.9622  100.4077  ...    76.1480     2.1364    95.9489
202301  다사624501   31.1368   54.5548  ...    76.0505   109.1375    81.3521
202301  다사613479  135.1509   39.3409  ...     5.5584   117.6656   119.5226
202301  다사630474    3.4046    0.4454  ...    72.6807    88.0124    41.0658

[1812 rows x 49 columns]

In [208]:
new_df = pd.DataFrame(columns=columns_list)
new_df

Empty DataFrame
Columns: [GID, A10_관내_T, A10_관외_T, A20_관내_T, A20_관외_T, A30_관내_T, A30_관외_T, A40_관내_T, A40_관외_T, A50_관내_T, A50_관외_T, A60_관내_T, A60_관외_T, 외국인_A10, 외국인_A20, 외국인_A30, 외국인_A40, 외국인_A50, 외국인_A60, 법인_A10, 법인_A20, 법인_A30, 법인_A40, 법인_A50, 법인_A60, A10_관내_WD, A10_관외_WD, A20_관내_WD, A20_관외_WD, A30_관내_WD, A30_관외_WD, A40_관내_WD, A40_관외_WD, A50_관내_WD, A50_관외_WD, A60_관내_WD, A60_관외_WD, A10_관내_HD, A10_관외_HD, A20_관내_HD, A20_관외_HD, A30_관내_HD, A30_관외_HD, A40_관내_HD, A40_관외_HD, A50_관내_HD, A50_관외_HD, A60_관내_HD, A60_관외_HD]
Index: []